<div id="nav"><p>This is the nav location, cool things will happen here</p><p><%= @todos.length %> todos here</p></div>

<div id="todo">
  <div class="toolbox">
    <form id='new_todo' action='/create' method='post'>
      <input type="text" class="add_todo" placeholder="type a new todo here..." name='todo[task]'/>
      <input type='submit' class="sub_new" value='add'>
    </form>
  </div>

  <div class="todo_list">

    <% @todos.each do |todo| %>
    <div id="<%= todo.id %>" class="todo <%= 'complete' if todo.complete  %>">
      <p><i class="<%= 'fa fa-check-circle' if todo.complete %>" ></i> <%= todo.task %></p>
      <ul>
        <li><a href="#" class="delete" ><i class="fa fa-trash-o"></i></a></li>
        <li><a href="#" class="complete"><i class="fa fa-star-o"></i></a></li>
      </ul>
    </div>
    <% end %>

  </div>
</div>